@import url("https://fonts.googleapis.com/css2?family=Allura&amp;family=Sulphur+Point:wght@300&amp;family=Roboto:wght@100&amp;display=swap");
/* global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

section {
  /*TOP      left*/
  /*bottom   right*/
  padding: 3.9rem 0;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.link-route {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
  z-index: 1500;
}

/* Hero starts */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1250;
}
/* Hero ends */

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  width: 12.8rem;
  margin: 1rem 0;
}
.logo {
  cursor: pointer;
}

/* menu toggler */
.menu {
  display: none;
  font-size: 4.5rem;
  position: absolute;
  right: 8%;
  background: transparent;
  color: #fff;
  z-index: 2500;
}
.menu-close {
  display: none;
  color: rgb(255, 38, 0);
}

/* nav links */
.nav-links {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  cursor: pointer;
}
.link {
  padding: 0 5px 5px;
  margin: 0 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
}
.link:hover {
  color: #c9a570;
  transition: color 0.5s;
}
/* nav ends */

/* Heading */
.main-heading {
  font-family: "Allura", cursive;
  font-size: 10rem;
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  color: #c59d5f;
}
.sub-heading {
  font-family: "Sulphur Point", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  color: #fff;
  line-height: 1.5;
}
.sub-one {
  margin-left: 15rem;
}
.sub-two {
  margin-left: 24rem;
}
/* Heading ends */

/* Carousel */
.carousel {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2%;
  bottom: 6%;
  z-index: 1500;
}
.carousel-image {
  margin: 0 1rem;
}
.carousel-image > img {
  width: 40rem;
  height: 22rem;
  background: rgb(32, 27, 51) center no-repeat;
  background-size: cover;
  border: rgb(32, 27, 51) 5px solid;
  border-radius: 20px;
  cursor: pointer;
}
.icon-button {
  font-size: 5rem;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.home-carousel {
  opacity: 0.9;
}
/* carousel ends */

/* Home */
.home-container {
  display: flex;
}
/* Home ends */

/* Houses */
.houses-cent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.houses-head {
  padding: 2rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.houses-head > .line {
  background-color: #c59d5f;
}
.house-nav {
  background-color: rgba(0, 0, 0, 0.5);
}
.house-head {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.house-heading {
  margin: 3rem 0 1rem;

  font-family: "Sulphur Point", sans-serif;
  font-size: 4rem;
}
.line {
  width: 15rem;
  height: 2px;
  background-color: black;
}
.houses {
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
  justify-content: center;
}
/* Houses ends */

/* House Card */
.card {
  position: relative;
  width: 40rem;
  height: 27rem;
  font-family: "Sulphur Point", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(32, 27, 51);
  border: 5px rgb(32, 27, 51) solid;
  border-radius: 14px;
  letter-spacing: 0.2rem;
  color: #fff;
}
.card-img > img {
  width: 100%;
  height: 25.9rem;
  border-radius: 10px;
  background: center no-repeat fixed;
  background-size: cover;
}
.house-detail {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: rgb(144, 136, 175) 3.5px solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 1px;
}
.house-type {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0.3rem;
}
.hide {
  display: none;
}
.small-detail {
  font-size: 2.5rem;
  margin-top: 1rem;
}
.od {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.od-btn {
  display: flex;
  justify-content: center;
}
.pn {
  font-size: 1.5rem;
  letter-spacing: 0;
}
.btn {
  width: 160px;
  height: 40px;
  margin-top: 1rem;
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  background: #8d7d7b;
  border: #fff 2px solid;
  border-radius: 6px;
  color: black;
  cursor: pointer;
}
.btn:hover {
  color: #c59d5f;
  border: #c59d5f 2px solid;
  background: transparent;
}
/* House Card ends */

/* Single House */
.singHouHero {
  height: 100vh;
}
.single-house {
  display: flex;
  align-items: flex-end;
}
.single-house-head {
  padding: 1rem;
  margin-bottom: 3.5rem;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
}
.tagline {
  font-size: 8rem;
  text-transform: none;
  margin-bottom: 1rem;
}
.single-house-head > .line {
  background-color: #c59d5f;
  margin-bottom: 1rem;
}
.single-house-head > .btn {
  margin: 1rem 0;
}
.details-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.details-type {
  margin-bottom: 2rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  color: #000;
}
.content {
  width: 50rem;
}
.content > p {
  margin-bottom: 1rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #000;
}
.extra-container {
  margin-bottom: 5rem;
}
.extras {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 15rem;
  justify-content: flex-start;
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: #000;
}
.extras > li {
  width: 43rem;
  list-style: none;
}
/* Single House ends */

/* About */
.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 18rem;
}
.about-description {
  width: 75rem;
  margin-top: 5rem;
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.8);
}
.highlyt {
  font-family: "Allura", cursive;
  font-size: 2.5rem;
  color: #e7b974;
}
/* About ends */

/* Contact */
.contact-container {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-head {
  margin-bottom: 14rem;
}
.contact-form-container {
  margin: 26rem 0 4rem;
}
.msg-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg-input {
  width: 35rem;
  height: 3rem;
  display: inline-block;
  margin: 1rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.text-area {
  width: 35rem;
  margin: 1rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.9);
}
.msg-btn {
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}
.msg-btn:hover {
  color: #fcb54c;
  transition: 0.5s color;
}
/* Contact ends */

/* Media Queries */
@media screen and (min-width:1600px){
  html{
    font-size: 13px;
  }
}
@media screen and (min-width:1800px){
  html{
    font-size: 14px;
  }
}
/****************************/
@media screen and (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 750px) {
  .main-heading {
    font-size: 9rem;
  }
}
@media screen and (max-width: 650px) {
  html{
    font-size: 7px;
  }
  .home-container {
    justify-content: center;
  }
  .main-heading {
    text-align: center;
  }
  .carousel {
    right: unset;
    bottom: 4%;
  }

  .nav {
    justify-content: center;
  }
  .menu {
    display: block;
  }
  .list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    z-index: 2250;
  }
  .open > .list {
    transform: translateX(0);
  }
  .nav-links {
    font-size: 2.5rem;
  }
  .link{
    padding: unset;
  }
}
@media screen and (max-width: 550px) {
  html{
    font-size: 6.5px;
  }
  .sub-one {
    margin-left: 9rem;
  }
  .sub-two {
    margin-left: 14rem;
  }

  .carousel {
    right: unset;
    bottom: 3%;
  }
}
@media screen and (max-width: 500px) {  
  .sub-one {
    margin-left: 0;
  }
  .sub-two {
    margin-left: 0;
  }
  .sub-heading{
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  

}
